.home {
  min-height: 1000px;
  padding-top: 337px;
  position: relative;
  background-color: #020412;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1199px) {
    background-color: #000;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../public/img/home/home_bg_effect.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../public/img/common/lines.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    bottom: -28%;
    z-index: -1;

    @media screen and (max-width: 1199px) {
      bottom: -10%;
    }
    @media screen and (max-width: 768px) {
      bottom: -2%;
    }
  }

  @media screen and (max-width: 1199px) {
    min-height: auto;
    padding-top: 146px;
    padding-bottom: 36px;
  }
}

.home__container {
  width: min(1356px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}

.home__text {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.home__title-wrap {
  display: flex;
  flex-direction: column-reverse;
}

.home__title {
  max-width: 277px;
  font-family: var(--second-family);
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;

  @media screen and (max-width: 1199px) {
    margin-bottom: 320px;
    text-align: center;
  }
}

.home__subtitle {
  font-size: 20px;
  color: var(--red);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.home__description {
  max-width: 245px;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;

  @media screen and (max-width: 1199px) {
    max-width: 297px;
    margin-top: 0;
    margin-bottom: 190px;
    font-size: 16px;
    text-align: center;
  }
}

.home__img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -2;

  @media screen and (max-width: 1199px) {
    top: 310px;
    translate: -50% 0;

    img {
      min-width: 218px;
      height: 218px;
    }
  }
}

.home__token {
  max-width: 296px;
  height: 66px;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-image: url("../public/img/home/token_bg.png");
  background-size: 100%;
  font-size: 24px;

  @media screen and (max-width: 1199px) {
    max-width: 208px;
    height: 46px;
    font-size: 14px;
  }
}

.token__code {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home__btns-wrap {
  position: absolute;
  bottom: 137px;
  left: 50%;
  translate: -50% 0;
  display: flex;
  gap: 12px;

  @media screen and (max-width: 1199px) {
    bottom: 210px;
  }

  a {
    width: 194px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #000;
    transition: filter 200ms ease;

    @media screen and (max-width: 1199px) {
      width: 140px;
      height: 40px;
      border-radius: 7px;
      font-size: 12px;
    }

    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(1);
    }
  }
}
